<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../../static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="./../../static/ressource/img/favicon.ico">
</head>
<body>
<nav style="background-color:#feba2e!important;" class="navbar sticky-top navbar-light">
    <div class="navbar navbar-default navbar-static-top" style="margin:auto">
        <div class="container-fluid">
            <img alt="" src="./../../static/ressource/img/flashlight_logo_weiß.svg" width="200">
        </div>
    </div>
</nav>
<div class="d-flex justify-content-center m-4">
   Hier kannst du ein neues Konto erstellen.
</div>
<div class="container d-flex justify-content-center">
    <form action="" class="col-md-5">

        <div class="form-group">
            <input type="text" class="form-control form-control-small " id="username" placeholder="Benutzername" style="border-color:#feba2e">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-small" id="password" placeholder="Passwort" style="border-color:#feba2e">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-small" id="password_confirm" placeholder="Passwort wiederholen" style="border-color:#feba2e">
        </div>
        <div class="m-5">
            <button type="submit" class="btn btn-warning btn-block" style="color:white">Register</button>
        </div>
    </form>
</div>
</body>
</html>