<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="./../../static/ressource/img/favicon.ico">
    <link rel="stylesheet" href="./../../static/css/style.css">
</head>
<body>

<nav style="background-color:#feba2e!important;" class="navbar sticky-top navbar-light">
    <div class="navbar navbar-default navbar-static-top" style="margin:auto">
        <div class="container-fluid">
            <img alt="" src="./../../static/ressource/img/flashlight_logo_weiß.svg" width="200">
        </div>
    </div>
</nav>


<div class="row justify-content-center mt-4">E-Mail</div>
<div class="row justify-content-center mt-4">Hier kannst du deine Bilder ansehen und löschen</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="card-deck">
            <div class="card m-4" style="width:17rem">
                <div class="card-header" style="background-color:white">
                    <div align="center"><small class="text-muted">Date - Time</small></div>
                </div>
                <img src="https://i.pinimg.com/564x/d3/11/c2/d311c26119591a71618e25fae494399f.jpg" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-heart" aria-hidden="true" style="color:#feba2e"></i>
                            </div>
                            <div class="col mr-3"><strong>2</strong></div>
                            <div class="col ml-3">
                                <i class="fa fa-comment" aria-hidden="true" style="color:#feba2e"></i>
                            </div>
                            <div class="col"><strong>2</strong></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <form action="">
                            <button class="btn btn-outline-warning btn-block">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> Löschen
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="card m-4" style="width:17rem">
                <div class="card-header" style="background-color:white">
                    <div align="center"><small class="text-muted">Date - Time</small></div>
                </div>
                <img src="https://i.pinimg.com/564x/d3/11/c2/d311c26119591a71618e25fae494399f.jpg" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-heart" aria-hidden="true" style="color:#feba2e"></i>
                            </div>
                            <div class="col mr-3"><strong>2</strong></div>
                            <div class="col ml-3">
                                <i class="fa fa-comment" aria-hidden="true" style="color:#feba2e"></i>
                            </div>
                            <div class="col"><strong>2</strong></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <form action="">
                            <button class="btn btn-outline-warning btn-block">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> Löschen
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


</body>
</html>