<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../../static/css/style.css">
</head>
<body>

<nav style="background-color:#feba2e!important;" class="navbar sticky-top navbar-light">
    <div class="navbar navbar-default navbar-static-top" style="margin:auto">
        <div class="container-fluid">
            <img alt="" src="./../../static/ressource/img/flashlight_logo_weiß.svg" width="200">
        </div>
    </div>
</nav>

<div class="container-fluid d-flex  justify-content-center">
    <div class="row">
        <div class=" col-md-auto m-4">
            <a href="login.html" class="btn btn-warning btn-lg" style="width:14rem;color:white">Login</a>
        </div>
        <div class=" col-md-auto  m-4">
            <a href="register.html" class="btn btn-warning btn-lg" style="width:14rem;color:white">Register</a>
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center mt-4 mb-4">
    <div class="card" style="width:36rem">
        <div class="card-header" style="background-color:white">
            <div class="row">
                <div class="col-lg-9 col-md-4">
                    <div class="card-text"><strong class="text-muted">Krishna Murti</strong></div>
                    <div class="card-text"><small class="text-muted">Last updated 3 mins ago</small></div>
                </div>
            </div>
        </div>
        <img src="https://images.unsplash.com/photo-1506260408121-e353d10b87c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=2600&q=80"
                class="card-img-top" alt="...">
        <div class="card-body">
            <div><p><strong>Gefällt 12 Leuten</strong></p></div>
            <div>
                <p>Lorem ispum ..</p>
            </div>
        </div>
        <div class="card-footer" style="background-color:white">
            <div><p><strong>Friedrich Nietzsche</strong> Lorem ipsum dolor sit amet, consetetur sadipscing
                    elitr,
                    sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                    et
                    accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                    ipsum
                    dolor
                    sit
                    amet.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center mt-4 mb-4">
    <div class="card" style="width:36rem">
        <div class="card-header" style="background-color:white">
            <div class="row">
                <div class="col-lg-9 col-md-4">
                    <div class="card-text"><strong class="text-muted">Krishna Murti</strong></div>
                    <div class="card-text"><small class="text-muted">Last updated 3 mins ago</small></div>
                </div>
            </div>
        </div>
        <img src="https://images.unsplash.com/photo-1506260408121-e353d10b87c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=2600&q=80"
                class="card-img-top" alt="...">
        <div class="card-body">
            <div><p><strong>Gefällt 12 Leuten</strong></p></div>
            <div>
                <p>Lorem ispum ..</p>
            </div>
        </div>
        <div class="card-footer" style="background-color:white">
            <div><p><strong>Friedrich Nietzsche</strong> Lorem ipsum dolor sit amet, consetetur sadipscing
                    elitr,
                    sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                    et
                    accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                    ipsum
                    dolor
                    sit
                    amet.
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>