<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="./../../static/ressource/img/favicon.ico">
    <link rel="stylesheet" href="./../../static/css/style.css">
    <title>Upload Form</title>
</head>
<body>
<nav style="background-color:#feba2e!important;" class="navbar sticky-top navbar-light">
    <div class="navbar navbar-default navbar-static-top" style="margin:auto">
        <div class="container-fluid">
            <img alt="" src="./../../static/ressource/img/flashlight_logo_weiß.svg" width="200">
        </div>
    </div>
</nav>
<div class="row justify-content-center">
    <form class="col-md-3">
        <div class="form-group">
            <label for="exampleFormControlFile1">
                <div class="m-2"><strong>E-Mail</strong></div>
                <div class="m-2">Hier kansnt du ein neues Bild hochladen.</div>
            </label>
            <span class="m-2"><input type="file" class="form-control-file" id="exampleFormControlFile1"></span>
            <span class="m-2"><textarea class="form-control" style="border-color:#feba2e" aria-label="Beschreibung"></textarea></span>
        </div>
    </form>
</div>
</body>
</html>