{{define "auth-user-box"}}
    <style>
        .btn-outline-warning:hover {
            color: white;
        }

        .btn-outline-warning-toggle {
            color: white;
            background-color: #feba2e;
        }
    </style>
    {{ $key := .Username}}

    {{range .Posts}}

        <div class="container d-flex justify-content-center mt-4 mb-4">
            <div class="card" style="width:36rem">
                <div class="card-header" style="background-color:white">
                    <div class="row">
                        <div class="col-lg-9 col-md-4">
                            <div class="card-text"><strong class="text-muted">{{.author}}</strong></div>
                            <div class="card-text">
                                <small class="text-muted">{{.timestamp.date}} </small><small class="text-muted">{{.timestamp.time}}</small>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-1">
                            <form method="post" action="/like?id={{._id}}">
                                {{$do := true}}
                                {{range $liked := .likes}}
                                    {{if eq  $liked $key}}
                                        {{$do = false}}
                                        <button class="btn btn-outline-warning-toggle btn-lg btn-block" onclick="toggleLikeButton('uniqueID')" type="submit">
                                            <i class="fa fa-heart"></i>
                                        </button>
                                    {{end}}
                                {{end}}
                                {{if $do}}
                                    <button class="btn btn-outline-warning btn-lg btn-block" onclick="toggleLikeButton('uniqueID')" type="submit">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                {{end}}
                            </form>
                        </div>
                    </div>
                </div>
                <img src='{{.imgpath}}'
                        class="card-img-top" alt="...">
                <div class="card-body">
                    {{$number := len .likes}}
                    {{if eq $number 0}}

                    {{else}}
                        <div><p><strong>Gefällt {{len .likes}} Leuten </strong></p></div>
                    {{end}}
                    <div>
                        <p>{{.caption}}</p>
                    </div>
                </div>
                <div class="card-footer" style="background-color:white" id="{{._id}}">
                    {{ $lengthComments := len .comments}}
                    {{if eq $lengthComments 0}}
                        <i>Keine Kommentare</i>
                    {{end}}
                    {{range .comments}}
                        <div>
                            <section class="m-2"><strong class="padding-left:2px">{{.user}}</strong> {{.comment}}
                            </section>
                        </div>
                    {{end}}
                </div>
                <div class="card-footer" style="background-color:white">
                    <div>
                        <form action="/sendComment?data={{._id}}" method="post" id='{{._id}}'>
                            <div class="form-row">
                                <div class="col">
                                    <input name="comment" type="text" name="comment" class="form-control" placeholder="Kommentieren">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-dark btn-block btn-lg">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{end}}

{{end}}