{{define "card-layout"}}
{{range .MyPosts}}

    <div class="card">
        <form action="/deletePicture?data={{._id}}" method="post">
            <div class="card-header" style="background-color:white">
                <ul class="list-inline text-center text-muted mt-n1 mb-n1">
                    <li class="list-inline-item"><small>{{.timestamp}}</small></li>
                </ul>

            </div>
            <img class="card-img" src="{{.imgpath}}" alt="Card image cap">

            <div class="card-body">
                <ul class="list-inline text-center mb-n1 ">
                    <li class="list-inline-item">
                        <i class="fa fa-heart" aria-hidden="true" style="color:#feba2e"></i></li>
                    <li class="list-inline-item"><strong>{{ len .likes}}</strong></li>
                    <li class="list-inline-item ml-5 mr-5"></li>
                    <li class="list-inline-item">
                        <i class="fa fa-comment" aria-hidden="true" style="color:#feba2e"></i></li>
                    <li class="list-inline-item"><strong>{{ len .comments}}</strong></li>
                </ul>
            </div>
            <div class="card-footer" style="background-color:white">
                <button type="submit" class="btn btn-outline-warning btn-block">
                    <i class="fa fa-trash" aria-hidden="true" style="color:#feba2e"></i>Löschen
                </button>
            </div>
        </form>
    </div>

{{end}}
{{end}}