
{{define "content-gallery"}}

<div class="container mt-4">
    <div class="row mt-1">
        <div class="col-md-auto offset-md-3"><strong><h3>E_Mail-123</h3></strong></div>

    </div>
    <div class="row mt-1 mb-4">
        <div class="col-md-auto offset-md-3">Hier kannst du deine eigene Bilder sehen und löschen.</div>
    </div>
    <div class="row">
        <div class="col-md-auto offset-md-3 col-sm-auto offset-sm-1">
            <div class="card-deck mt-4 mb-4">
            </div>
        </div>
    </div>
</div>
{{end}}