{{define "content-logged"}}
    <div class="d-flex justify-content-center mt-4 mb-4">
        <div>
            <div class="row" style="width:36rem">
                <div class="col-4">
                    <section>{{.User.Mail}}</section>
                    <section><a href="/logout" style="color:#feba2e"><small>Logout</small></a></section>
                </div>
                <div class="col-6 ">
                    <a href="/gallery" class="btn btn-warning btn-block" style="color:white">Mein
                        Bilder</a>
                </div>
                <div class="col-2">
                    <a href="/uploads" class="btn btn-warning btn-block" style="color:white">+</a>
                </div>
            </div>
        </div>
    </div>
{{end}}