{{define "content-register"}}
    <div class="d-flex justify-content-center m-4">
        Hier kannst du ein neues Konto erstellen.
    </div>
    <div class="container d-flex justify-content-center">
        <form action="" class="col-md-5">

            <div class="form-group">
                <input type="text" class="form-control form-control-small " id="username" placeholder="Benutzername" style="border-color:#feba2e">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-small" id="password" placeholder="Passwort" style="border-color:#feba2e">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-small" id="password_confirm" placeholder="Passwort wiederholen" style="border-color:#feba2e">
            </div>
            <div class="m-5">
                <button type="submit" class="btn btn-warning btn-block" style="color:white">Register</button>
            </div>
        </form>
    </div>
{{end}}