{{define "content-register"}}
    <div class="d-flex justify-content-center m-4">
        Hier kannst du ein neues Konto erstellen.
    </div>
    <div class="container d-flex justify-content-center">
        <form action="/registerProcess" method="post" class="col-md-5" onsubmit="return check()" onchange="return check()">
            <div class="form-group">
                <input name="username" type="text" class="form-control form-control-small " id="username" placeholder="Benutzername" style="border-color:#feba2e">
            </div>
            {{if .ErrorMessage}}
                <div class="alert alert-danger" role="alert">{{.ErrorMessage}}</div>
            {{end}}
            <div class="form-group">
                <input type="password" onkeyup="check()" name="password" id="password" class="form-control form-control-small" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Ihr Passwort muss mindestens 8 Zeichen lang sein und mindestens ein Sonderzeichen oder eine Zahl enthalten. " required>
            </div>
            <div class="form-group">
                <input type="password" onkeyup="check()" name="confirmed-password" id="confirmed-password" class="form-control form-control-small" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Ihr Passwort muss mindestens 8 Zeichen lang sein und mindestens ein Sonderzeichen oder eine Zahl enthalten. " required>
                <span id='message'></span>
            </div>
            <div class="m-5">
                <button type="submit" class="btn btn-warning btn-block" style="color:white">Register</button>
            </div>

        </form>

    </div>
    <script>

        function check() {
            if (document.getElementById('password').value === document.getElementById('confirmed-password').value) {
                document.getElementById('confirmed-password').style.borderColor = 'green';
                return true
            } else {
                document.getElementById('confirmed-password').style.borderColor = 'red';
                return false
            }
        }

    </script>
{{end}}