<link rel="stylesheet" href="./../../static/css/style.css" xmlns:background-color="http://www.w3.org/1999/xhtml">

<meta charset="utf-8">


<div class="card m-4" style="width:17rem">
    <div class="card-header" style="background-color:white">
        <div align="center"><small class="text-muted">Date - Time</small></div>
    </div>
    <img src="https://i.pinimg.com/564x/d3/11/c2/d311c26119591a71618e25fae494399f.jpg" class="card-img-top" alt="...">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <i class="fa fa-heart" aria-hidden="true" style="color:#feba2e"></i>
                </div>
                <div class="col mr-3"><strong>2</strong></div>
                <div class="col ml-3">
                    <i class="fa fa-comment" aria-hidden="true" style="color:#feba2e"></i>
                </div>
                <div class="col"><strong>2</strong></div>
            </div>
        </li>
        <li class="list-group-item">
            <form action="">
                <button class="btn btn-outline-warning btn-block">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Löschen
                </button>
            </form>
        </li>
    </ul>
</div>
