<link rel="stylesheet" href="../../../static/css/style.css" xmlns:background-color="http://www.w3.org/1999/xhtml">

<meta charset="utf-8">

<!-- Button-Type 1-->
<div class="container d-flex justify-content-center mt-4 mb-4">
    <div class="card" style="width:36rem">
        <div class="card-header" style="background-color:white">
            <div class="row">
                <div class="col-lg-9 col-md-4">
                    <div class="card-text"><strong class="text-muted">Krishna Murti</strong></div>
                    <div class="card-text"><small class="text-muted">Last updated 3 mins ago</small></div>
                </div>
                <div class="col-lg-3 col-md-1">
                    <button class="btn btn-warning btn-lg btn-block"><i class="fa fa-heart" style="color:white"></i>
                    </button>
                </div>
            </div>
        </div>
        <img src="https://images.unsplash.com/photo-1506260408121-e353d10b87c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=2600&q=80"
                class="card-img-top" alt="...">
        <div class="card-body">
            <div><p><strong>Gefällt 12 Leuten</strong></p></div>
            <div>
                <p>Lorem ispum ..</p>
            </div>
        </div>
        <div class="card-footer" style="background-color:white">
            <div><p><strong>Friedrich Nietzsche</strong> Lorem ipsum dolor sit amet, consetetur sadipscing
                    elitr,
                    sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                    et
                    accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                    ipsum
                    dolor
                    sit
                    amet.
                </p>
            </div>
        </div>
        <div class="card-footer" style="background-color:white">
            <div>
                <form>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Kommentieren">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark btn-block btn-lg">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Button-Type 2-->
<div class="container d-flex justify-content-center mt-4 mb-4">
    <div class="card" style="width:36rem">
        <div class="card-header" style="background-color:white">
            <div class="row">
                <div class="col-lg-9 col-md-4">
                    <div class="card-text"><strong class="text-muted">Krishna Murti</strong></div>
                    <div class="card-text"><small class="text-muted">Last updated 3 mins ago</small></div>
                </div>
                <div class="col-lg-3 col-md-1">
                    <button class="btn btn-outline-warning btn-lg btn-block"><i class="fa fa-heart"></i>
                    </button>
                </div>
            </div>
        </div>
        <img src="https://images.unsplash.com/photo-1506260408121-e353d10b87c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=2600&q=80"
                class="card-img-top" alt="...">
        <div class="card-body">
            <div><p><strong>Gefällt 12 Leuten</strong></p></div>
            <div>
                <p>Lorem ispum ..</p>
            </div>
        </div>
        <div class="card-footer" style="background-color:white">
            <div><p><strong>Friedrich Nietzsche</strong> Lorem ipsum dolor sit amet, consetetur sadipscing
                    elitr,
                    sed diam nonumy
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                    et
                    accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                    ipsum
                    dolor
                    sit
                    amet.
                </p>
            </div>
        </div>
        <div class="card-footer" style="background-color:white">
            <div>
                <form>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Kommentieren">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-dark btn-block btn-lg">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
