<link rel="stylesheet" href="./../../static/css/style.css">
<meta charset="utf-8">



<div class="row justify-content-center">
    <form class="col-md-3">
        <div class="form-group">
            <label for="exampleFormControlFile1">
                <div class="m-2"><strong>E-Mail</strong></div>
                <div class="m-2">Hier kansnt du ein neues Bild hochladen.</div>
            </label>
            <span class="m-2"><input type="file" class="form-control-file" id="exampleFormControlFile1"></span>
            <span class="m-2"><textarea class="form-control" style="border-color:#feba2e" aria-label="Beschreibung"></textarea></span>
        </div>
    </form>
</div>